/* Definizione delle variabili globali */
:root {
    --colore-testi: #0F0F0F;
    --colore-sfondo: #FFFDED;
    --colore-footer: #19171a;
    --font-serif: "PT", Georgia, Times, "Times New Roman", serif;
    --font-sans: "Ubuntu", Arial, Helvetica, sans-serif;
    --larghezza-massima: 800px;
}

/* Reset base */
* {
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

*:focus {
    outline: none;
}

/* Stili generali */
html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-serif);
    background-color: var(--colore-sfondo);
    color: var(--colore-testi);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: all 0.35s;
}


/* Barra superiore */
.top_bar {
    height: 50px;
    background-color: var(--colore-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    z-index: 99;
}

.top_bar img {
    height: 24px;
    width: auto;
}

/* Intestazione */
header {
    width: 100%;
    height: 70vh;
    position: relative;
    background: var(--colore-sfondo) url(../img/copertina.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: var(--larghezza-massima);
    font-size: 5rem;
    color: white;
    text-align: center;
}

.sommario {
    max-width: var(--larghezza-massima);
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2rem;
    text-align: center
}

.firma {
    margin-top: 70px;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
}

.data {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 10px;
}


/* Elementi */

article,
section,
div,
p,
h2,
h3 {
    width: 100%;
}

article {
    max-width: var(--larghezza-massima);
    margin: auto;
}

section {
    margin: 50px auto 20px;
}

section:first-of-type {
    margin-top: 20px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-family: var(--font-sans);
    font-size: 1.6rem;
    margin: 1rem 0 0.2rem;
}

p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.grafico_sommario {
    font-family: var(--font-sans);
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

.grafico_fonte {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    margin: 0.6rem 0 1.2rem;
    opacity: 0.8;
}

/* Figure */
figure {
    margin: 2.5rem 0;
}

/* Footer */
footer {
    margin-top: 100px;
    background-color: var(--colore-footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    font-family: var(--font-sans);
    color: #a19e9e;
    font-size: 0.8rem;
    line-height: 1.2rem;
    max-width: 30%;
    text-align: center;
    padding: 30px 20px;
}



/* Responsive design */
@media only screen and (max-width: 480px) {
    header {
        height: 70vh;
        padding: 0 20px;
    }

    h1 {
        font-size: 3.2rem;
        max-width: 100%;
    }

    article {
        max-width: 100%;
        padding: 0 20px;
    }

    section {
        margin-top: 20px;
    }

    footer div {
        max-width: 100%;
    }

    .sommario {
        max-width: 100%;
    }
}